NODE_ENV=development

PORT=5000

# MongoDB
MONGO_URI=your_mongodb_connection_string

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=your_refresh_secret
JWT_REFRESH_EXPIRES_IN=30d

# Admin seed credentials
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@futuremart.com
ADMIN_PASSWORD=Admin@123
